<h1>編集</h1>

<%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
    <%= form.label :email, "メール" %>
    <%= form.text_area :email %>
  </div>

  <div class="actions">
    <%= form.submit "編集する" %>
  </div>
<% end %>

<p><%= link_to 'マイページ', mypage_path(@user) %></P>