<div class="alert alert-info" style="padding: 15px; margin-bottom: 20px; border: 1px solid transparent; border-radius: 4px; color: #31708f; background-color: #d9edf7; border-color: #bce8f1; text-align: center; font-size: 18px;">
  <% if user_signed_in? %>
     <% welcome_message = "ようこそ #{link_to current_user.name, mypage_path} さん" %>
    <%= welcome_message.html_safe %>
  <% end %>
</div>

<h1>編集</h1>

<%= form_with(model: @user, url: user_path(@user), local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "名前" %>
    <%= form.text_field :name %>
    <%= form.label :photo, "アイコン" %>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit "編集する" %>
  </div>
<% end %>

